In [13]:
import pandas as pd
import numpy as np

In [37]:
prediction = pd.read_csv("c:/users/hello/desktop/cluster3predictions.csv")

In [3]:
prediction.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,aisle_id,Unnamed: 0.1.1,User Id,cluster,percent_product,Percent_aisle,reorder_prediction
0,0,0,1735923,19,test,10,6,17,8,9387,24,1,19,0,0.748975,0.81079,1
1,1,1,2088686,221,test,24,1,21,15,9387,24,6,221,0,0.748975,0.81079,0
2,2,2,2088686,221,test,24,1,21,15,9387,24,6,221,0,0.748975,0.81079,0
3,3,3,2088686,221,test,24,1,21,15,9387,24,6,221,0,0.748975,0.81079,0
4,4,4,2088686,221,test,24,1,21,15,9387,24,6,221,0,0.748975,0.81079,0

In [38]:
prediction = prediction[['user_id','product_id','reorder_prediction']]

In [39]:
prediction = prediction.drop_duplicates()

In [40]:
prediction = prediction[prediction['reorder_prediction'] == 1]

In [12]:
prediction.head()

    user_id  product_id  reorder_prediction
0        19        9387                   1
7       535        9387                   1
8       896        9387                   1
18      995        9387                   1
20     1285        9387                   1

In [41]:
prediction = prediction.groupby('user_id')['product_id'].apply(lambda x: np.unique(np.hstack(x)))

In [42]:
k = pd.DataFrame(prediction)

In [43]:
k.to_csv("c:/users/hello/desktop/cluster3_predictions.csv")